.search-bar-form {
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px #e6e6e6;
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s;
}

.search-bar-form > form {
    display: grid;
    grid-template-columns: 90% 10%;
}

.input-seach-form {
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
}

.input-seach-form::placeholder {
    color: #fff;
}

#search-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    padding-right: 0;
    color: #fff;
}

#search-btn:hover {
    color: var(--primary_color);
}

.scroll-down-bar::placeholder {
    color: var(--text_color_primary)
}