.top-document-section {
    position: absolute;
    top: 12%;
    text-align: center;
    color: #fff;
    width: 100%;
}

.top-document-section > h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.top-document-section > p {
    font-size: 20px;
    margin: 30px 0;
}

.top-document-header {
    margin: 55px 0;
    position: relative;
    color: #fff;
}

.top-line-left {
    position: absolute;
    background-color: #fff;
    opacity: 0.5;
    width: 40%;
    left: 0;
    top: 50%;
    height: 1px;
}

.top-line-right {
    position: absolute;
    background-color: #fff;
    opacity: 0.5;
    width: 40%;
    right: 0;
    top: 50%;
    height: 1px;
}

.document-item-section {
    display: flex;
    justify-content: center;
}

.document-item-container {
    display: flex;
    background-color: #e6e6e6;
}