header {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0; 
    color: #fff;
    z-index: 9999999;
    transition: 0.2s;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-link > a {
    margin: 0 20px;
    font-size: 17px;
    font-weight: 700;
    transition: 0.2s;
    color: #fff;
}

.nav-link > a:hover {
    color: var(--primary_color);
}

.nav-link > h1 {
    margin: 16px 20px 16px 0px;
    text-transform: uppercase;
}

.search-bar {
    width: 33.333%;
}

.nav-user > a, .nav-user > span {
    margin: 0 10px;
    color: #fff;
}

#upload-btn {
    padding: 10px;
    margin-right: 10px;
    background-color: var(--primary_color);
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

#upload-btn:hover {
    background-color: var(--secondary_color);
}

.nav-user > a, .nav-user > span {
    font-size: 14px;
    transition: 0.2s;
    cursor: pointer;
}

.nav-user > a:hover, .nav-user > span:hover {
    color: var(--primary_color);
}

.scroll-down {
    background-color: #fff;
    color: var(--text_color_primary);
    box-shadow: 0 4px 10px -2px rgb(54, 54, 54);
}

a.scroll-down:hover, span.scroll-down:hover {
    color: var(--primary_color);
}


